.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #4b5563;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  cursor: default;
}  

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.name-text {
  font-size: 2rem;
  margin: 0;
}

.name-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-dropdown {
    margin-top: 0.5rem;
    width: 100%;
    font: inherit;
    font-size: 0.75rem;
    padding: 0.15rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #d1d5db;
    color: #0f172a;
    transition: all 0.2s ease;
    cursor: pointer; /* ✅ makes it a hand when hovered */
  }

.header-dropdown:focus {
  outline: none;
  border-color: #007acc;
  box-shadow: 0 0 0 2px rgba(0, 122, 204, 0.4);
}  